body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.content h1 {
	text-align: center;
}
.content .content-footer p {
	color: #6d6d6d;
    font-size: 12px;
    text-align: center;
	margin: 0px 0 0px;
}
.content .content-footer p a {
	color: inherit;
	font-weight: bold;
}

.btext{
    color: #000000;
    position: absolute;
    text-align: center;
    
    width: 100%;
    line-height: 0.4em;
}

h1{
    font-size: 50px;
}

.btn{
    color: #fff;
    text-decoration: none;
    border: #ccc 1px solid;
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 4em;
}

.btn:hover{
    color: #b19295;
    border: #fff 1px solid;
}

#particles-js{
  min-height: 50000px;
  min-width: 100%px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  background-image: url('image1.jpg');
  /*  background-image: url('image1.jpg');
    height: 100vh;*/
	
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
	margin: 0px 0 0px;
}
.panel .btn-group {
	margin: 5px 0 5px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-resultado
{
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-resultado tbody tr:hover
{
	cursor: pointer;
	background-color: #eee;
}
.table-resultado ttbody tr td {
	margin: 0px 0 0px;
	padding: 1px;
	vertical-align: middle;
	border-top-color: #eee;
	font-size: 50%
}
.table-resultado td,th{
	font-size: 75%
	}
.table-resultado .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	border-spacing: 10px;
border-collapse: collapse;
	/*margin: 0px 0 0px;
	padding: 0px;
	vertical-align: middle;
	border-top-color: #eee;*/
}
.table-data tbody tr td
{
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
/*
.table-filter tr td:first-child {
	width: 15px;
}
.table-filter tr td:nth-child(2) {
	width: 15px;
}*/
.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
}
/*
.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
}
.table-filter .star.star-checked {
	color: #F0AD4E;
}
.table-filter .star:hover {
	color: #ccc;
}
.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}*/

.table-filter .media-photo {
	width: 35px;
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin: auto;
	/*margin-right: 10px;*/
}
.table-filter .media .title span.Entregado {
	color: #5cb85c;
}
.table-filter .media .title span.MultaSinCronograma {
	color: #f0ad4e;
}
.table-filter .media .title span.SinMultas {
	color: #d9534f;
}
.table-filter .media .summary {
	font-size: 14px;
}